body{
    background-color: #00cc99;
    margin-left: 50px;
    margin-right: 50px;
}

#reflect{
    padding:20px;
    border: 5px solid black;
    text-align: center;
}

.sometext{
    border-bottom: 1px dotted black;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Helvetica;
}

#firstimage{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width:100%;
}

#otherimage{
    display:block;
    margin-right: auto;
    margin-left: auto;
}

#otherimagetext{
    text-align: center;
}

h1{
    text-align: center;
}

#overimage{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d8/Hemp-600x600.jpg");
}

a:link{
    color:blue;
}

a:visited{
    color:hotpink;
}

#table{
    border: 1px solid grey;
}

@media screen and (max-width: 600px) {
body{
    background-color:LightBlue;
    margin-left:0px;
    margin-right:0px;
    }

#otherimage{
    margin-right: 0px;
    margin-left: 0px;
    width:100%;
    }
    
.sometext{
    padding-left: 0px;
    padding-right: 0px;
    }
}