body{
    background-color: hotpink;
    margin-left: 50px;
    margin-right: 50px;
    font-family: Helvetica;
}

#reflect{
    padding:20px;
    border: 5px solid black;
    text-align: center;
}

.sometext{
    border:1px dotted black;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

#firstimage{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width:100%;
}

#otherimage{
    display:block;
    margin-right: auto;
    margin-left: auto;
}

#otherimagetext{
    text-align: center;
}

h1{
    text-align: center;
}

#overimage{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d8/Hemp-600x600.jpg");
}