.octo{
  outline: 1px solid red;
  margin:auto;
  /*margin-right:auto;*/
  /*margin-top: 75px;*/
  /*width=100%;*/
}

.hat{
/*   position:absolute;*/
/*   top:0px;*/
/*   margin-right:auto;*/
/*   margin-left:auto;*/
/*   width: 275px;*/
   outline: 1px solid red;
}



/*.glasses{*/
/*   outline: 1px solid red;*/
/*   position: absolute;*/
/*   left: 40px;*/
/*   top: 20px;*/
/*}*/

